/* import */
@import "import/variables";
@import "import/fontface";
@import "import/_mixins";

/* common */
$font_L: 6.9vw;
$font_M: 4.1vw;
$font_S: 3.7vw;
$font_SS: 2.8vw;
$font_SSS: 2.5vmin;


@include fontFace('Futura Md Bt', 'font/FutuBd');

.alarm-list {

  		font-family: 'Futura Md Bt';    
    	font-size : $font_SS;
    	overflow: hidden;

	table {
		width: 400px;
    	height: 510px;
	}

    img {
        width: 30px;
    }   

    table, tr, td {         
        color: $gray;
        background-color:white;
        text-align : center;
        border-spacing: 0;
        margin: 0;
        padding: 0;
    }
            

    th {
        color : $black;
        background-color: $lightgray;
        height: 35px;
        border-bottom: 1px solid #c3c3c3;
		

    }

    th:nth-child(1) {
		width: 25%;
    }

    th:nth-child(2) {

    	width: 46.25%;
    	border-right: 1px solid #c3c3c3;
    	border-left: 1px solid #c3c3c3;
    	height: 10px;
    }

    th:nth-child(3) {
    	width: 28.75%;
    }


}


@media only screen and (min-width: 320px) {
	.alarm-list {
		table{
			width: 100%;
			font-size : $font_M;
		}
	}
    
}

 /* media max-width 435px */
@media only screen and (min-width: 481px) {
	.alarm-list {
		table {
			width: 100%;
			font-size : $font_S;
		}
	}
}


 /* media max-width 768px */
@media only screen and (min-width: 769px) { 
	.alarm-list {
		table {
			width: 768px;
			font-size : $font_SS;
		}
	}
}