@import "import/variables.scss";
@import "import/fontface";

@include fontFace('Futura Md Bt', 'font/FutuBd');

footer {
    max-width: 800px;
    max-height: 140px;
    background-color: $gray;

    ul {
        list-style: none;
        li {
            display: inline-block;
            margin: 0 7%;
        }

        img {
            padding: 5px 0;
            width: 35px;
            height: 35px;
        }
    }
}