/* import */
@import "import/variables";
@import "import/fontface";
@import "import/_mixins";

/* common */
$font_L: 6.9vw;
$font_M: 4.1vw;
$font_S: 3.7vw;
$font_SS: 2.8vw;
$font_SSS: 2.5vmin;

@include fontFace('Futura Md Bt', 'font/FutuBd');

header {
    background-color: #f88d01;
    width: 100%;
    height: 80px;

    ul {
        list-style-type: none;

        li {
        margin: 20px 0;  
        display: inline-block;
        vertical-align: bottom;


            input[type="text"] {
                width: 250px;
                height: 30px;
                border-radius: 50px;
                border: 0;
                margin: 0 20px;

            }


            img {
                width: 30px;
                height: 30px;

            }

            .bus{
                margin:0 0 0 150px;

            }

            .stop{
                margin: 0 0 0 20px;

            }

            .bin{
                margin: 0 0 0 150px;

            }

            .alarmText{
                margin: 0 0 0 50px;

            }
 
        }


        li.favoriteText{
            font-size : $font_S;
            margin-left:150px;

        }            

        li.alarmText{
            font-size : $font_S;
            margin-left:150px;

        }

        li:nth-child(1) {
            float: left;
        }
    }

    font-family: 'Futura Md Bt';    
    color: $black;    
}








