/* import */
@import "import/variables";
@import "import/fontface";
@import "import/_mixins";

/* common */


@font-face {
    font-family: FutuMd;
    src: url('/css/font/FutuMd.ttf');
    font-family: FutuBd;
    src: url('/css/font/FutuBd.ttf');
}
.clear{
    clear:both;
}

input[type="text"], input[type="password"], textarea, select { 
  outline: none;
}

/* layout */
body{
    text-align:center;
    width: 100%;    
    line-height:1.0;
    text-align:center;  
    font-family: 'FutuBd','Helvetica';
}
img.full-size {
    width: 100%;
    height: auto;
}
.main_con{
    width: 100%;
    margin:0 auto;  
    text-align:center;
}

 /* logo */
 .main_logo{
    padding: 15% 0;
    h1{
        font-size: $font_L;
        text-transform:uppercase;
        text-align:center; 
        margin-bottom:2%;
        color:$gray;
    }
    h2{
        font-size: $font_M;
        color: $orange;
        text-transform:uppercase;
        margin-top:0.5%;
    }
}

 /* search title */
.main_search_title{
    width:80%;

    img {
        float:left;
        width: 30px;
    }
    p {
        font-size: $font_M;
        font-weight:bold;
        color:$gray;
        padding-left:10px;
        vertical-align: text-top;
    }
}


.wrapper:after {
    content: '';
    display: block;
    clear: both;
}

 /* search function */
.search-container{
    margin: 10px auto;
    width:80%;

    .label-row {
        margin-bottom: 10px;
        .bus-icon, p {
            display: inline-block;
        }
        .bus-icon {
            margin-right: 10px;
            width: 8vw;
        }
        p {
            font-size: $font_M;
        }
    }

    .search-row {
        .search-input{
            background-color:$middlegray;
            border:none;
            @include border-radius(25px); 
            @include box-shadow(5px, 5px, 5px, #9d9d9d, inset);
            color:$gray;
            display: inline-block;
            padding:10px;
            width: 70%;
        }
        .search-icon{
            display: inline-block;
            padding-left:7px;
            width: 35px;
            vertical-align: top;
        }    
    }
    
}

.row:after {
    content: '';
    display: block;
    clear: both;
}

 /* media max-width 768px */
@media only screen and (min-width: 769px) { 

}

 /* media max-width 435px */
@media only screen and (min-width: 481px) {
    
}