$black: #000;
$white: #fff;

$gray: #444;
$lightgray: #eaeaea;
$middlegray: #bebebe;

$orange: #f88d01;
$yellow: #ffe167;
$red: #ca2c20;
$mint: #00b5ad;

$font_L: 6.9vw;
$font_M: 4.1vw;
$font_S: 3.7vw;
$font_ss: 3.1vw;